@import "tailwindcss";

@layer base {
  body {
    background-color: rgb(255 255 255);
    color: rgb(17 24 39);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color 0.2s, color 0.2s;
  }

  .dark body {
    background-color: rgb(17 24 39);
    color: rgb(255 255 255);
  }
}
